body {
  font-family: 'Roboto', sans-serif;
  background-color: floralwhite;
  margin: 0;
}

nav {
  background-color: burlywood;
  height: 110px;
  width: 100%;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #850c0c;
  font-size: 17px;
  text-transform: uppercase;
  padding: 7px 15px;
  border-radius: 3px;
}

nav ul li a:hover {
  font-weight: bold;
  transition: 0.3s;
  background-color: rgb(231, 198, 154);
}

section {
  clear: both;
  text-align: center;
}

h1 {
  padding-top: 20px;
}

h3 {
  text-transform: uppercase;
  font-size: 25px;
}

a {
  text-decoration: none;
  color: #850c0c;
}

a:hover {
  font-weight: bold;
  transition: 0.2s;
}

p {
  padding: 15px 0;
}

.icon {
  display: none;
}

.container {
  width: 80%;
  margin: auto;
  border-radius: 9px;
}

.separation {
  width: 70px;
  height: 1px;
  margin: 15px auto;
  display: block;
  background-color: #850c0c;
}

.number-chap {
  color: black;
  font-size: 17px;
  
}

.title-chap {
  font-weight: bold;
  font-size: 17px;
}

.chapter {
  width: 400px;
  margin: 30px;
  display: inline-block;
  background-color: burlywood;
  padding-bottom: 15px;
  overflow: hidden; 
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.chapter:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: 0.3s;
}

.chapter img {
  min-width: 400px;
  height: 400px;
}

.picture {
  width: 400px;
  height: 400px;
  overflow: hidden;
  margin-bottom: 15px;
  transition: transform .2s ease;
}

.picture:hover {
  transform: scale(1.3);
}

.logo {
  width: 100px;
  margin-left: 30px;
  margin-top: 15px;
}

.videocontainer {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  position: relative;
}

.videocontainer iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#chapters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer {
  background-color: burlywood;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}

* {
  box-sizing: border-box;
}


/* media */
@media screen and (max-width: 600px) {
  nav a:not(.classlogo) {
    display: none;
  }
  nav a.icon {
    float: right;
    display: block;
    padding: 45px 20px;
  }

  .chapter {
    width: 100%;
  }

  .chapter img {
    width: 100%;
    min-width: auto;
    height: auto;
  }

  .chapter .picture {
    width: 100%;
    height: auto;
  }



  /* nav */
  nav.responsive {
    position: relative;
  }

  .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  nav.responsive a:not(.classlogo) {
    float: none;
    display: block;
  }

  nav.responsive ul {
    background-color: burlywood;
    margin: auto;
    width: 100%;
    text-align: center;
    padding-top: 15px;
    padding-left: 0;
  }
  
  nav.responsive li {
    display: block;
    line-height: 50px;
    margin: auto;
  }
}