* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  overflow: hidden;
}

body {
  font-family: 'Bree Serif', serif;
  background-color: rgb(179, 135, 135);
}

h1 {
  text-align: center;
  padding: 70px;
}

.keys {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.key {
  background-color: rgba(0, 0, 0, 0.075);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  border: 3px black solid;
  border-radius: 5px;
  padding: 20px 10px;
  margin: 16px;
  width: 100px;
  box-shadow: -8px 8px 15px -8px #000000;
  transition: all 0.07s ease;
}

.playing {
  transform: scale(0.9);
  border-color: rgb(190, 72, 72);
  box-shadow: none;
}

kbd {
  font-size: 40px;
}

.sound {
  color: rgb(190, 72, 72);
}