* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  overflow: hidden;
}

html, body {
  height: 100%;
}

body {
  background-color: rgb(39, 32, 27);
  font-family: 'roboto', sans-serif;
  color: white;
}

.container {
  margin: 70px 70px 20px;
  text-align: center;
  width: 60%;
}

section {
  max-width: 1280px;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
}

.click-btn {
  border: none;
  color: rgb(182, 140, 101);
  background: transparent;
  padding: 40px 0;
  cursor: pointer;
}

.clicker {
  margin: 40px;
}

#shop {
  background-color: rgb(49, 44, 44);
  width: 30%;
  padding: 30px 10px;
  box-shadow: -6px 0px 7px -3px rgba(0,0,0,0.65);
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
}

h3 {
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 4px rgb(182, 140, 101) solid;
}

li {
  list-style: none;
  margin: 0 0 15px 0;
}

.shop-btn {
  position: relative;
}

.buy-cursors-btn, .buy-grandma-btn {
  background-color: rgb(182, 140, 101);
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 15px 5px;
  cursor: pointer;
}

footer {
  background-color: rgb(68, 52, 45);
  padding: 15px 20px 20px;
  color:rgb(136, 127, 121);
  position: absolute;
  position: absolute;
  bottom: 0;
  width: 100%;
}